site_name: FashionStar Wiki
site_url: https://servodevelop.github.io/wiki/

theme:
  name: material
  language: zh
  palette:
    - scheme: default
      primary: purple
      accent: purple
    - scheme: slate
      primary: purple
      accent: purple
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - toc.follow

plugins:
  - search
  - sitemap:
      hostname: https://servodevelop.github.io/wiki/
  - i18n:
      default_language: zh
      languages:
        - zh
        - en
  - git-revision-date-localized:
      type: datetime
  - minify:
      minify_html: true

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - toc:
      permalink: true
