name: Deploy-Wiki
on:
  push:
    branches:
      - main
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x    
      # 在构建前，手动把根目录的 assets & stylesheets 拷贝进各自的文档目录
      - name: Sync Assets
        run: |
          cp -R assets/ docs/assets/
          cp -R assets/ docs_zh/assets/

      # 关键修改：安装 requirements.txt 中列出的所有插件
      - run: pip install -r requirements.txt
      - name: Build English Edition
        run: mkdocs build -f mkdocs.en.yml
      - name: Build Chinese Edition
        run: mkdocs build -f mkdocs.zh.yml
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: site/
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
